/* -- Tabs Bar -- */
.tabbrowser-tab {	
	&[visuallyselected] {
		.tab-label {
			font-weight: bold !important;
		}
	}
	
	&[pending] {
		.tab-label {
			opacity: 0.5 !important;
		}
		.tab-close-button {
			opacity: 0.7 !important;
		}
	}
}

#firefox-view-button {
  display: revert !important; /* Show View Button In Private Windows */
	visibility: hidden !important; /* Hide It, But Keep The Space It Takes */
}

.tab-drop-indicator {
  background: color-mix(in srgb, var(--gnome-tabbar-tab-active-background-contrast) 85%, blue) !important;
  border-radius: var(--tab-border-radius);
  margin-bottom: 6px;
}

/* When there's only one tab, remove it's background, to make it look nicer. + Prevent changes to overlay when hovering *\/
#tabbrowser-tabs:not(:has(tab:not([hidden="true"]) ~ tab:not([hidden="true"]))) :is(
  tab,
  tab ~ toolbarbutton,
  tab ~ #tabbrowser-arrowscrollbox-periphery,
  .tab-background
) {
  /* Can be used if you wanna hide the overlay too
    --gnome-tabbar-tab-active-background: none;
  *\/
  
  --gnome-tabbar-tab-active-hover-background: var(--gnome-tabbar-tab-active-background);
  background: none !important;
}*/

/* Fix width of outlines when multiselecting */
.tab-background {
  outline-width: 2px !important;
  outline-offset: -2px !important;
}
