#identity-box.extensionPage #identity-icon-label,
#firefox-view-button,
#alltabs-button {
  display: none !important;
}

/* Fix spacing */
#tracking-protection-icon-container,
#identity-box {
  transform: translateY(-1px);
}

/* Custom theme colors - From wallpaper */
:root {
  --md-sys-color-primary: rgb(0.7098039215686275 0.7686274509803922 1);
  --md-sys-color-surface-tint: rgb(0.7098039215686275 0.7686274509803922 1);
  --md-sys-color-on-primary: rgb(0.10980392156862745 0.17647058823529413 0.3803921568627451);
  --md-sys-color-primary-container: rgb(0.20392156862745098 0.26666666666666666 0.4745098039215686);
  --md-sys-color-on-primary-container: rgb(0.8627450980392157 0.8823529411764706 1);
  --md-sys-color-secondary: rgb(0.7568627450980392 0.7725490196078432 0.8666666666666667);
  --md-sys-color-on-secondary: rgb(0.16862745098039217 0.18823529411764706 0.25882352941176473);
  --md-sys-color-secondary-container: rgb(0.2549019607843137 0.27450980392156865 0.34901960784313724);
  --md-sys-color-on-secondary-container: rgb(0.8705882352941177 0.8823529411764706 0.9764705882352941);
  --md-sys-color-tertiary: rgb(0.8901960784313725 0.7294117647058823 0.8588235294117647);
  --md-sys-color-on-tertiary: rgb(0.2627450980392157 0.15294117647058825 0.25098039215686274);
  --md-sys-color-tertiary-container: rgb(0.3568627450980392 0.23921568627450981 0.3411764705882353);
  --md-sys-color-on-tertiary-container: rgb(1 0.8431372549019608 0.9647058823529412);
  --md-sys-color-error: rgb(1 0.7058823529411765 0.6705882352941176);
  --md-sys-color-on-error: rgb(0.4117647058823529 0 0.0196078431372549);
  --md-sys-color-error-container: rgb(0.5764705882352941 0 0.0392156862745098);
  --md-sys-color-on-error-container: rgb(1 0.8549019607843137 0.8392156862745098);
  --md-sys-color-background: rgb(0.07058823529411765 0.07450980392156863 0.09411764705882353);
  --md-sys-color-on-background: rgb(0.8901960784313725 0.8823529411764706 0.9137254901960784);
  --md-sys-color-surface: rgb(0.07058823529411765 0.07450980392156863 0.09411764705882353);
  --md-sys-color-on-surface: rgb(0.8901960784313725 0.8823529411764706 0.9137254901960784);
  --md-sys-color-surface-variant: rgb(0.27058823529411763 0.27450980392156865 0.30980392156862746);
  --md-sys-color-on-surface-variant: rgb(0.7764705882352941 0.7764705882352941 0.8156862745098039);
  --md-sys-color-outline: rgb(0.5607843137254902 0.5647058823529412 0.6039215686274509);
  --md-sys-color-outline-variant: rgb(0.27058823529411763 0.27450980392156865 0.30980392156862746);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(0.8901960784313725 0.8823529411764706 0.9137254901960784);
  --md-sys-color-inverse-on-surface: rgb(0.1843137254901961 0.18823529411764706 0.21176470588235294);
  --md-sys-color-inverse-primary: rgb(0.2980392156862745 0.3607843137254902 0.5725490196078431);
  --md-sys-color-primary-fixed: rgb(0.8627450980392157 0.8823529411764706 1);
  --md-sys-color-on-primary-fixed: rgb(0.00784313725490196 0.09019607843137255 0.29411764705882354);
  --md-sys-color-primary-fixed-dim: rgb(0.7098039215686275 0.7686274509803922 1);
  --md-sys-color-on-primary-fixed-variant: rgb(0.20392156862745098 0.26666666666666666 0.4745098039215686);
  --md-sys-color-secondary-fixed: rgb(0.8705882352941177 0.8823529411764706 0.9764705882352941);
  --md-sys-color-on-secondary-fixed: rgb(0.08627450980392157 0.10588235294117647 0.17254901960784313);
  --md-sys-color-secondary-fixed-dim: rgb(0.7568627450980392 0.7725490196078432 0.8666666666666667);
  --md-sys-color-on-secondary-fixed-variant: rgb(0.2549019607843137 0.27450980392156865 0.34901960784313724);
  --md-sys-color-tertiary-fixed: rgb(1 0.8431372549019608 0.9647058823529412);
  --md-sys-color-on-tertiary-fixed: rgb(0.17254901960784313 0.07058823529411765 0.16470588235294117);
  --md-sys-color-tertiary-fixed-dim: rgb(0.8901960784313725 0.7294117647058823 0.8588235294117647);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0.3568627450980392 0.23921568627450981 0.3411764705882353);
  --md-sys-color-surface-dim: rgb(0.07058823529411765 0.07450980392156863 0.09411764705882353);
  --md-sys-color-surface-bright: rgb(0.2196078431372549 0.2235294117647059 0.24705882352941178);
  --md-sys-color-surface-container-lowest: rgb(0.050980392156862744 0.054901960784313725 0.07450980392156863);
  --md-sys-color-surface-container-low: rgb(0.10196078431372549 0.10588235294117647 0.12941176470588237);
  --md-sys-color-surface-container: rgb(0.11764705882352941 0.12156862745098039 0.1450980392156863);
  --md-sys-color-surface-container-high: rgb(0.1607843137254902 0.16470588235294117 0.1843137254901961);
  --md-sys-color-surface-container-highest: rgb(0.20392156862745098 0.20392156862745098 0.22745098039215686);
}
