// https://github.com/YaLTeR/niri/wiki/Configuration:-Overview

// General
switch-events {
  lid-close { spawn "gnome-screensaver-command" "--lock"; }
}

workspace "coding"
workspace "research"

spawn-at-startup "waybar"
spawn-at-startup "fuzzel"

screenshot-path = "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// Inputs
input {
  focus-follows-mouse max-scroll-amount="25%"
  
  touchpad {
    tap
    natural-scroll
    click-method "clickfinger"
  }
}

// Keybinds
binds = {
  // Spawning
  Super+Q { spawn "kgx"; }
  Super+E { spawn "zed"; }
  Super+R { spawn "nautilus"; }
  Super+F { spawn "firefox"; }
  Super+L { spawn "gnome-screensaver-command" "--lock"; }
  
  // Other
  Ctrl+Shift+Escape { spawn "missioncenter"; }
  Print { screenshot; }
}

// Layout
layout {
  gaps 16
  
  border {
    off
  }
  focus-ring {
    width 2
    active-gradient from="#a8d8ff" to="#e0f7ff" angle=45 relative-to="workspace-view"
  }
  
  struts { left 32; right 32; }
}